{% extends 'main/layout.html' %}

{% block title %}Форма добавления статьи{% endblock %}

{% block content %}
    <div class='features'>
        {% filter upper %}
            <h1>Форма добавления статьи</h1>
        {% endfilter %}
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            {% comment %} <input type="text" placeholder="Название статьи" class="form-control"><br>
            <input type="text" placeholder="Анонс" class="form-control"><br>
            <textarea class="form-control" placeholder="Текст статьи"></textarea><br>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br> {% endcomment %}
            <button class="btn btn-success" type="submit">Подтвердить</button>
        </form>
    </div>
{% endblock %}