{% extends 'main/layout.html' %}

{% block title %}Новости сайта{% endblock %}

{% block content %}
    <div class='features'>
        {% filter upper %}
            <h1>Новости на сайте</h1>
        {% endfilter %}
        {% comment %} <p>{% lorem 1 b random %}</p> {% endcomment %}
        {% comment %} <button class='btn btn-warning'>На страницу про нас</button> {% endcomment %}
        
        {% if news %}
            {% for el in news %}
                <div class='alert alert-warning'>
                    <a href='{{ el.id }}/update' class='editing'><i class='fa fa-pencil'></i></a>
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <div>
                        <a href='{% url "news-detail" el.id %}' class='btn btn-warning'>Читать полностью</a>
                        <a href='{{ el.id }}/delete' class='btn btn-danger delete'><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>    
            {% endfor %}
        {% else %}
                <p>Нет записей</p>
                {# Комментарий #}
        {% endif %}
    </div>
{% endblock %}